<form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload">
    <fieldset>
        <legend>Choose your personal background</legend>
        <input type="file" name="file" style="background-color:red">
        <input type="submit" value="Submit">
        <span id="status"></span>
    </fieldset>
</form>