<!-- todo : find icons for all buttons and for collapsing div
     todo : find and review videos nodejs mongo-->
<meta charset="UTF-8">
<script src="MySlider.js"></script>
<script src="LayoutCreater.js"></script>
<script src="jsonData.js"></script>
<link href="sliders.css" rel="stylesheet" type="text/css">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">
<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/stylish-portfolio.css" rel="stylesheet">

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!--<link href="css/stylish-portfolio.css" rel="stylesheet">-->

<body id="page-top">
    <nav id="sidebar-wrapper">

    </nav>
        <div id="layout"></div>
</body>

<!--set PATH=%PATH%;"C:\Program Files\MongoDB\Server\5.0\bin\mongod"-->

<script>
    /***
     * client side
     * */
    var slidersArr = [];
    var $_GET = [];
    window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (a, name, value) {
        $_GET[name] = value;
    });

    console.log($_GET, "$_GET");
    console.log($_GET["c"], "$_GET[c]");



    if ($_GET["c"]) { //c - config
        // todo : if found conf in url - include indicated js config file
        // else include default.conf.js
        // todo : change buttons for bootstrap buttons
        if ($_GET["c"] == "food") {
            var config = "food.conf.js";
        }
        if ($_GET["c"] == "people") {
            var config = "people.conf.js";
        }
    } else {
        var config = "default.conf.js";
    }

    var script = document.createElement('script');
    // script.onload = function () {
    //     //do stuff with the script
    // };
    script.src = config;

    document.head.appendChild(script);

    setTimeout(() => {
        var users = config.users;

        console.log(config)
        let currentUser = false;

        if ($_GET["user"]) {
            for (let i in users) {
                if ($_GET["user"] == users[i].pseudo) {
                    console.log("-----------> user ", users[i]);
                    currentUser = users[i];
                }
            }
        }

        console.log("currentUser", currentUser);
        if (currentUser) {
            category = currentUser.categories;
        }

        var layout = '';

        var creator = new LayoutCreator();
        var i = 0;

        let categoryUsers = [];
        if (config.category) {
            while (i < config.category.length) {
                categoryUsers = [];
                for (let c in users) {
                    if (users[c].categories.indexOf(config.category[i]) + 1) {
                        console.log(" ===== >>>> ", users[c].name)
                        categoryUsers.push(users[c]);
                    }
                }

                /***
                 * creating Layout
                 */

                creator.createLayout(i);

                const params = {
                    sliderId: i,
                    intervalId: null,
                    loop: true,
                    navs: true,
                    auto: true,
                    color: config.colors[i] ? config.colors[i] : config.colorsRandom[Math.floor(Math.random() * config.colorsRandom.length)],
                    delay: 2,
                    name: 'mySlider',
                    users: categoryUsers,
                }

                /***
                 * creating Sliders objs.
                 */

                slidersArr[i] = new MySlider(params);
                i++;
            }
        } else {
            console.log("config not found");
        }
    }, 1000)
</script>