/*!
 * Start Bootstrap - Stylish Portfolio v5.0.9 (https://startbootstrap.com/theme/stylish-portfolio)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-stylish-portfolio/blob/master/LICENSE)
 */

.pic {
  width: 600px;
  height: 300px;
}

.menu-toggle-lang {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.checkedImage {
  border: 2px black dotted;
}

.line {
  background-size: cover;
  float: left;
  box-shadow: 2px 2px 4px #000000;
}

.ab {
  border: 4px dotted #b39152;
  width: 1000px;
  height: auto;
  min-height: 500px;
  overflow: scroll;
  background-size: 100%;
  background-color: ghostwhite;
  border-radius: 10px;
}

.contentStyle {
  background-color: #dca91a;
}

.containerStyle {
  background-color: rgba(249, 235, 201, 0.37);
  border-radius: 10px;
}

#message {
  border: 2px solid #b39152;
  border-radius: 10px;
}

a.buttonClear {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 0.76);
  font-weight: normal;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, .5) 1px 1px, rgba(100, 100, 100, .3) 3px 7px 3px;
  user-select: none;
  padding: 3px 3px;
  outline: none;
  border-radius: 3px / 100%;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(222, 192, 161, 0.8), rgba(255, 255, 255, .0) 70%),
  linear-gradient(to right, rgba(252, 235, 199, 0.87), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(190, 149, 62, 0.87)),
  linear-gradient(to right, rgba(252, 235, 199, 0.87), rgba(231, 189, 135, 0.87) 45%, rgba(190, 149, 62, 0.87)),
  linear-gradient(to right, rgba(190, 149, 62, 0.87), rgba(252, 235, 199, 0.87) 45%, rgba(189, 132, 59, 0.87)),
  linear-gradient(to right, rgba(231, 189, 135, 0.87), rgba(189, 132, 59, 0.87) 45%, rgba(189, 132, 59, 0.87)),
  linear-gradient(to right, rgba(255, 183, 0, 0.71), rgba(231, 189, 135, 0.87) 45%, rgba(255, 183, 0, 0.71));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px -10px;
  font-size: 20px;
}

a.buttonClear:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

a.buttonClear:active {
  top: 1px;
}

textarea {
  caret-color: #b39152;
}

.rotateFilter {
  transform: rotate(15deg);
  box-shadow: 5px 5px 7px #757575;
}

.previewLetter{
  height: 64px;
  width: 64px;
  cursor: pointer;
  border-radius: 7px;
  margin: 3px;
  padding: 4px;
  box-shadow:  2px 2px 4px #000000;
}

.previewLetterShadow{
  box-shadow:  5px 5px 7px #000000;
}

body, html {
  width: 100%;
  height: 100%
}

body {
  font-family: 'Source Sans Pro'
}

.btn-xl {
  padding: 1.25rem 2.5rem
}

.content-section-heading h2 {
  font-size: 3rem
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700
}

.text-faded {
  color: rgba(255, 255, 255, .7)
}

.map {
  height: 30rem
}

@media (max-width: 992px) {
  .map {
    height: 75%
  }
}

.map iframe {
  pointer-events: none
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, .5);
  line-height: 45px
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: #fff
}

.scroll-to-top:hover {
  background: #343a40
}

.scroll-to-top i {
  font-weight: 800
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url(../img/bg-masthead.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0
}

@media (min-width: 992px) {

  .masthead h1 {
    font-size: 5.5rem
  }
}

#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all .4s ease 0s;
  transform: translateX(250px);
  background: #1d809f;
  border-left: 1px solid rgba(255, 255, 255, .1)
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, .2)
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, .1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px
}

.sidebar-nav > .sidebar-brand a {
  color: #fff
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: 0 0
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all .4s ease 0s
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, .5);
  line-height: 50px;
  z-index: 999
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff
}

.menu-toggle:hover {
  background: #343a40
}

.service-icon {
  background-color: #fff;
  color: #1d809f;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1)
}

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url(../img/bg-callout.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, .2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem
}

.portfolio-item .caption .caption-content h2 {
  font-size: .8rem;
  text-transform: uppercase
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem
}

.map iframe {
  height: 100%;
  width: 100%;
  border: 0
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1d809f;
  transition: background-color .15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1)
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none
}

a:active, a:focus, a:hover {
  color: #745315
}

.btn-myCustom {
  background-color: rgba(236, 199, 107, 0.87) !important;
  border-color: rgba(190, 149, 62, 0.87) !important;
  color: #fff !important;
}

.btn-mySend {
  background-color: rgba(236, 199, 107, 0.87) !important;
  border-color: rgba(190, 149, 62, 0.87) !important;
  color: #fff !important;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(222, 192, 161, 0.8), rgba(255, 255, 255, .0) 70%),
  linear-gradient(to left, rgba(252, 235, 199, 0.87), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(190, 149, 62, 0.87)),
  linear-gradient(to left, rgba(252, 235, 199, 0.87), rgba(231, 189, 135, 0.87) 45%, rgba(190, 149, 62, 0.87)),
  linear-gradient(to left, rgba(190, 149, 62, 0.87), rgba(252, 235, 199, 0.87) 45%, rgba(189, 132, 59, 0.87)),
  linear-gradient(to left, rgba(231, 189, 135, 0.87), rgba(189, 132, 59, 0.87) 45%, rgba(189, 132, 59, 0.87)),
  linear-gradient(to left, rgba(255, 183, 0, 0.71), rgba(231, 189, 135, 0.87) 45%, rgba(255, 183, 0, 0.71));
}

btn-myCustom:active, .btn-myCustom:focus, .btn-myCustom:hover {
  background-color: rgba(190, 149, 62, 0.87) !important;
  border-color: rgba(190, 149, 62, 0.87) !important;
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.btn-primary {
  background-color: #1d809f !important;
  border-color: #1d809f !important;
  color: #fff !important
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #155d74 !important;
  border-color: #155d74 !important
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important
}

.btn-dark {
  color: #fff !important
}

.btn {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
  font-weight: 700
}

.bg-primary {
  background-color: #1d809f !important
}

.text-primary {
  color: #1d809f !important
}

.text-secondary {
  color: #ecb807 !important
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }

  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }

  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .portfolio-item:hover img {
    -webkit-clip-path: inset(8px);
    clip-path: inset(8px);
  }

  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(8px);
    clip-path: inset(8px);
  }
}



