<meta charset="UTF-8">
<!-- * Вывести кнопку с текстом "Привет", при нажатии на неё выводим alert c текстом "Привет Мир!"
 Выводим кнопку с текстом "Заполнить" и незаполненный инпут, при клике на кнопку, заполняем инпут текстом "test@email.ru"
 Выводим кнопку и инпут, в инпуте можно ввести любой и текст и при нажатии на кнопку, выводится алерт с текстом "Вы ввели 'текст инпута'" или "Вы ничего не ввели в поле".
 Выводим кнопку с текстом "Поменять" и два инпута, при клике на кнопку инпуты меняются своим введеным текстом
 Выводим две кнопки "заблокировать" и "разблокировать" и инпут. Одна из них блокирует инпут с помощью атрибута disabled, а другая разблокирует
 Вывести любой квадрат и кнопку "скрыть квадрат". Когда мы нажимаем на скрыть, квадрат исчезает и текст кнопки меняется на "показать квадрат" и так можно кликать сколько угодно раз.
 Выводим красный квадрат, при наведении на него он становиться зеленым, а когда уводим курсор от него, обратно красным.
 Вывести 4 красных квадрата, при клике на любой, он становиться зеленым, при этом если есть уже зеленый квадрат, то он становиться обратно красным и так можно кликать на любой квадрат, он становиться зеленым, а старый зеленый квадрат обратно крассным и тд. (Сделать задачу так, чтобы можно было добавить ещё хоть 100 квадратов при этом скрипт не надо менять).
 Реализовать калькулятор. Выводим 10 кнопок цифр от 0 до 10. Кнопки: умножить, поделить, сложить, вычесть, вычислить. При нажатии на кнопки в любом порядке выводиться в отдельном блоке строка (5-4+3*2...) и при нажатии на кнопку посчитать, заменяем в блоке данную строку на результат её вычисления, при этом можно потом дальше вычислять с уже этим вычеслением.
 */

/**
 * Вывести кнопку с текстом "Привет", при нажатии на неё выводим alert c текстом "Привет Мир!"
 */ -->

<h5>Выводим кнопку с текстом "Заполнить" и незаполненный инпут, при клике на кнопку, заполняем инпут текстом
    "test@email.ru"</h5>
<button onclick="emailBtn()" type="button">Заполнить</button>
<input type="text" id="email"/>
<h5>Выводим кнопку с текстом "Поменять" и два инпута, при клике на кнопку инпуты меняются своим введеным текстом</h5>
<button onclick="changeInput()" type="button">Поменять</button>
<input type="text" id="input1" value="Текст 1"/>
<input type="text" id="input2" value="Текст 2"/>
<h5>Выводим кнопку и инпут, в инпуте можно ввести любой и текст и при нажатии на кнопку, выводится алерт с текстом "Вы
    ввели 'текст инпута'" или "Вы ничего не ввели в поле".</h5>
<button onclick="btnClick()" type="button">Нажми меня</button>
<input type="text" id="somethingText"/>
<h5>Выводим две кнопки "заблокировать" и "разблокировать" и инпут. Одна из них блокирует инпут с помощью атрибута
    disabled, а другая разблокирует</h5>
<button onclick="disable(true)" type="button">Заблокировать</button>
<button onclick="disable(false)" type="button">Разблокировать</button>
<input type="text" id="blocked"/>
<h5>Вывести любой квадрат и кнопку "скрыть квадрат". Когда мы нажимаем на скрыть, квадрат исчезает и текст кнопки
    меняется на "показать квадрат" и так можно кликать сколько угодно раз.</h5>
<div id="squareId" class="square"></div>
<button onclick="hideSquare(this)" type="button" data-show="true">Скрыть квадрат</button>
<h5>Выводим красный квадрат, при наведении на него он становиться зеленым, а когда уводим курсор от него, обратно
    красным.</h5>
<div class="newSquare"></div>
<h5>Вывести 4 красных квадрата, при клике на любой, он становится зеленым, при этом если есть уже зеленый квадрат, то он
    становится обратно красным и так можно кликать на любой квадрат, он становиться зеленым, а старый зеленый квадрат
    обратно красным и тд. (Сделать задачу так, чтобы можно было добавить ещё хоть 100 квадратов при этом скрипт не надо
    менять).</h5>
<div onclick="redGreenSquare(this)" class="clickSquare redSquare"></div>
<div onclick="redGreenSquare(this)" class="clickSquare redSquare"></div>
<div onclick="redGreenSquare(this)" class="clickSquare redSquare"></div>
<div onclick="redGreenSquare(this)" class="clickSquare redSquare"></div>
<br/>
<br/>
<h5> Реализовать калькулятор. Выводим 10 кнопок цифр от 0 до 10. Кнопки: умножить, поделить, сложить, вычесть,
    вычислить. При нажатии на кнопки в любом порядке выводиться в отдельном блоке строка (5-4+3*2...) и при нажатии на
    кнопку посчитать, заменяем в блоке данную строку на результат её вычисления, при этом можно потом дальше вычислять с
    уже этим вычислением.</h5>
<button onclick="document.getElementById('calc').value += '0'" type="button">0</button>
<button onclick="document.getElementById('calc').value += '1'" type="button">1</button>
<button onclick="document.getElementById('calc').value += '2'" type="button">2</button>
<button onclick="document.getElementById('calc').value += '3'" type="button">3</button>
<button onclick="document.getElementById('calc').value += '4'" type="button">4</button>
<button onclick="document.getElementById('calc').value += '5'" type="button">5</button>
<button onclick="document.getElementById('calc').value += '6'" type="button">6</button>
<button onclick="document.getElementById('calc').value += '7'" type="button">7</button>
<button onclick="document.getElementById('calc').value += '8'" type="button">8</button>
<button onclick="document.getElementById('calc').value += '9'" type="button">9</button>
<button onclick="document.getElementById('calc').value += '10'" type="button">10</button>
<button onclick="document.getElementById('calc').value += ' + '" type="button">+</button>
<button onclick="document.getElementById('calc').value += ' - '" type="button">-</button>
<button onclick="document.getElementById('calc').value += ' * '" type="button">*</button>
<button onclick="document.getElementById('calc').value += ' / '" type="button">/</button>
<button onclick="calculate()" type="button">Вычислить</button>
<input type="text" id="calc" disabled="true"/>
<script>
    function emailBtn() {
        document.getElementById("email").value = "test@email.ru";
    }

    // Выводим кнопку с текстом "Поменять" и два инпута, при клике на кнопку инпуты меняются своим введеным текстом
    function changeInput() {
        let inp1 = document.getElementById("input1").value;
        let inp2 = document.getElementById("input2").value;

        document.getElementById("input1").value = inp2;
        document.getElementById("input2").value = inp1;
    }

    //Выводим кнопку и инпут, в инпуте можно ввести любой и текст и при нажатии на кнопку, выводится алерт с текстом
    // "Вы ввели 'текст инпута'" или "Вы ничего не ввели в поле".

    function btnClick() {
        if (document.getElementById("somethingText").value) {
            alert("Вы ввели текст: \n  " + document.getElementById("somethingText").value);
        } else {
            alert("Вы ничего не ввели в поле");
        }
    }

    //Выводим две кнопки "заблокировать" и "разблокировать" и инпут. Одна из них блокирует инпут с помощью атрибута disabled, а другая разблокирует
    function disable(status) {
        document.getElementById("blocked").disabled = status;
    }

    // Вывести любой квадрат и кнопку "скрыть квадрат". Когда мы нажимаем на скрыть, квадрат исчезает и текст кнопки меняется на "показать квадрат" и так можно кликать сколько угодно раз.
    function hideSquare(el) {
        let squareEl = document.getElementById("squareId");
        squareEl.classList.toggle("hide");
        if (el.getAttribute('data-show') == "true") {
            el.textContent = "Показать квадрат";
            el.setAttribute('data-show', "false");
        } else {
            el.textContent = "Скрыть квадрат";
            el.setAttribute('data-show', "true");
        }
    }

    //Вывести 4 красных квадрата, при клике на любой, он становиться зеленым, при этом если есть уже зеленый квадрат, то он становиться обратно красным и так можно кликать на любой квадрат, он становиться зеленым, а старый зеленый квадрат обратно крассным и тд.

    function redGreenSquare(element) {
        /**
         * jQuery version
         * $('clickSquare').removeClass('redSquare');
         * $(element).addClass('greenSquare');
         * */

        let eArr = [].slice.call(document.getElementsByClassName('clickSquare'));

        for (let key in eArr) {
            console.log(eArr[key]);
            eArr[key].classList.remove('greenSquare')
            eArr[key].classList.add('redSquare')
        }

        element.classList.remove("redSquare");
        element.classList.add("greenSquare");
    }

    // Реализовать калькулятор. Выводим 10 кнопок цифр от 0 до 10. Кнопки: умножить, поделить, сложить, вычесть, вычислить.
    // При нажатии на кнопки в любом порядке выводиться в отдельном блоке строка (5-4+3*2...) и
    // при нажатии на кнопку посчитать, заменяем в блоке данную строку на результат её вычисления,
    // при этом можно потом дальше вычислять с уже этим вычислением.

    let result;
    let numbersArr = [];

    function calculate() {
        let newCalc = document.getElementById("calc").value;
        /*   var reg = new RegExp('^[0-9\\+\\-\\*\\%]$');
           console.log(reg.test(newCalc));*/

        let calcArr = newCalc.split(" ");
        let operand = false;
        let result = 0;
        for (let i = 0; i < calcArr.length; i++) {
            if (i % 2) {
                console.log("operand", calcArr[i]);
                operand = calcArr[i];
            } else {
                console.log("numbers", calcArr[i]);
                if (operand) {
                    if (result) {
                        calcArr[i - 2] = result;
                    }
                    if (operand == "+") {
                        result = calcArr[i - 2] / 1 + calcArr[i] / 1;
                    }
                    if (operand == "-") {
                        result = calcArr[i - 2] / 1 - calcArr[i] / 1;
                    }
                    if (operand == "*") {
                        result = (calcArr[i - 2] / 1) * (calcArr[i] / 1);
                    }
                    if (operand == "/") {
                        result = (calcArr[i - 2] / 1) / (calcArr[i] / 1);
                    }
                }
            }
        }
        document.getElementById("calc").value = result;
        console.log("result", result);
        console.log("typeof alert", typeof result);
        if (typeof result == NaN) {
            console.log("typof alert");
            alert("Check your math expression");
            document.getElementById("calc").value = '';
            // console.log("typeof (calcArr[i] / 1)", typeof calcArr[i] / 1);
        }
        /* for (let i = 0; i < calcArr.length; i++) {
             if (typeof calcArr[i] == 'number') {
                 numbersArr.push(calcArr[i]);
             }
             console.log("checking i", i);

             for (let j = 0; j < numbersArr.length; j++) {
                 if (calcArr[i] == "+") {
                     result = numbersArr[j] / 1 + numbersArr[j] / 1;
                 }
                 if (calcArr[i] == "-") {
                     result = numbersArr[j] / 1 - numbersArr[j] / 1;
                 }
                 if (calcArr[i] == "*") {
                     result = numbersArr[j] / 1 * numbersArr[j] / 1;
                 }
                 if (calcArr[i] == "/") {
                     result = numbersArr[j] / numbersArr[j];
                 }
                 document.getElementById("calc").value = result;
             }

         }*/
        console.log(numbersArr);

    }

</script>
<style>
    .square {
        height: 50px;
        width: 50px;
        background-color: tomato;
    }

    .hide {
        opacity: 0;
    }

    .newSquare {
        height: 50px;
        width: 50px;
        background-color: darkred;
    }

    .newSquare:hover {
        background-color: green;
    }

    .clickSquare {
        height: 50px;
        width: 50px;
        float: left;
        margin: 3px;
    }

    .greenSquare {
        background-color: green;
    }

    .redSquare {
        background-color: darkred;
    }
</style>
<script>

    var a = 1;
    var cb = function (param1) {
        console.log("im function " + param1)
    }

    function example(param1, cb) {

        console.log(param1 + 2);
        console.log(param1 + 3);
        console.log(param1 + 4);
        console.log(param1 + 5);

        cb(param1);
    }


    example(a, cb)

    example(a, function (param1) {
        console.log("im OTHER function " + param1)
    })

</script>
